DB_CONNECT_STRING="your_database_connection_string_here"

CORS_ORIGIN='your_cors_origins_here'

ACCESS_TOKEN_SECRET='your_access_token_secret_here'
REFRESH_TOKEN_SECRET='your_refresh_token_secret_here'

CLIENT_URL='your_frontend_url'

EMAIL_USER='brevo_send_email_account'
BREVO_API_KEY='brevo_api_key'